.logo{
  width: 2rem;
}
.search{
  border-radius: 3rem;
}

::ng-deep .p-menu-overlay {
  margin-top: -2.5rem;
  .pi{
    order:2;
    margin-left: auto;
  }


}

.navbar{
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  @media screen and (max-width: 768px) {
    flex: auto;
  }
}








